#ParentCardContainer, #ChildCardContainer {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: left;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }

  /* @media (min-width: 800px) {
    #ParentCardContainer, #ChildCardContainer {
      padding-left: 100px;
      padding-right: 100px;
      width: 1100px;
    }
  } */
  