#ParentCardContainer, #ChildCardContainer {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Setting card to a fixed size with scrollable content */
  .InsideCardContent {
    display: block;
    width: 500px;
    height: 500px;
    overflow: scroll
  }

  /* Setting margin on ListCard container div for each card */
  .ListCard {
    margin: 10px;
  }